<p>Tick: {{ tick$ | async }}</p>

<!-- Emmet Abbr. -->

<gerd-bar-chart></gerd-bar-chart>

<gerd-hello></gerd-hello>

<table>
  <tbody>
    <tr>
      <td class="foo" *ngFor="let thing of leds">
        <button (click)="handleLedAction(thing.index)">Refresh</button>
        <a [routerLink]="['/leds', thing.index]">Details</a>
        <rola-led
          (rolaLedAction)="handleLedAction($event)"
          [rolaLed]="thing"
          [rolaFoo]="thing.color"
        ></rola-led>
      </td>
    </tr>
  </tbody>
</table>

<p>Tick: {{ tick$ | async }}</p>
